//bootstrap
$light: #f9f9f9;
$secondary: #ebebeb;
$blue: #15356E;
$cyan: #48b3cb;
$yellow: #ffae2e;
$green: #258916;
$red: #A11A24;
$orange: #A6561A;

$enable-rounded: true;
$enable-responsive-font-sizes: true;
//body
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-comfortaa: 'Comfortaa', cursive;

$component-active-bg: $yellow;
$font-family-arial: 'Arial';

//формирование базы шрифта
$font-size: 15px;
$size: $font-size;
$line_height: 30px;
$family: $font-family-sans-serif;
$weight: 400;
$va: -10;
$semi-bold: 700;
$comfortaa-bold: 700;
